/**
 * CSS for the positioning of the dashboard container div.
 *
 * By Curran Kelleher 3/26/2014
 */
#dashboard {

  /**
   * Position the dashboard in the center of the page with margins.
   */
  position: fixed;
  top:    15px;
  bottom: 15px;
  left:   15px;
  right:  15px;

}
